.input-div {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 1rem;
  font-size: 14px;
}
.input {
  outline: none;
  border: none;
  height: 30px;
  border-radius: 4px;
}

.save {
  margin-top: 1rem;
  width: 90%;
  height: 40px;
  border: none;
  background: red;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.form {
  position: absolute;
  overflow: scroll;
  z-index: 99;
  width: 40%;
  height: 70vh;
  padding: 2rem;
  left: 30%;
  background: #015c92;
}
